[user]
	name = JeffReeves
	email = jeff@binary.run
[author]
	name = Jeff Reeves
[core]
	editor = vim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore
[color]
	ui = auto
[alias]
	l = log --graph --decorate --all
